<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlc.springcloudalibabaadmin.dao.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.zlc.springcloudalibabaadmin.dao.entity.UserDO">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="user_token" property="userToken" jdbcType="VARCHAR"/>
        <result column="real_name" property="realName" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
      id,user_name,password,user_token,real_name,create_time
    </sql>
    <select id="getByName" parameterType="string" resultType="com.zlc.springcloudalibabaadmin.dao.entity.UserDO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user
        WHERE user_name = #{name}
    </select>

    <select id="getById" parameterType="long" resultType="com.zlc.springcloudalibabaadmin.dao.entity.UserDO">
        SELECT *
        FROM user
        WHERE id = #{value}
    </select>

    <insert id="insert" parameterType="com.zlc.springcloudalibabaadmin.dao.entity.UserDO">
        INSERT INTO user(name, age) VALUES (#{name}, #{age})
        <selectKey resultType="java.lang.Long" keyProperty="id">
            SELECT LAST_INSERT_ID() AS ID
        </selectKey>
    </insert>
</mapper>
